<%- include('head') %>
<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-3">Welcome to Node Express API</h1>
    <p class="lead">
      Find all the information that you need regarding the Employee.
    </p>
    <hr class="my-4" />
    <p></p>
  </div>
  <%- include('listemployee') %>
</div>
<%- include('footer') %>
